.taskContainer {
  cursor: pointer;
  min-height: 32px;
  /* min-width: 290px; */
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: #00000033 1px 1px 1px;
  text-align: left;
  display: inline-block;
  width: 280px;
}
.taskContainer:hover {
  background-color: #f0f2fb;
}

.taskText {
  overflow-wrap: break-word;
  text-align: left;
  width: 290px;
  font-weight: 100;
  font-size: 14px;
}
.taskCloseIcon{
  float:right;
  cursor: pointer;
  z-index: 5;
}
